$type-color: #a064af;

.api-item-container {
  .api-item {
    .option-type {
      color: $type-color;
    }

    .attribute-only, .property-only, .read-only {
      display: none;
      font-size: 12px;
      font-weight: 400;
      padding: 1px 10px;
      border-radius: 14px;
      margin-left: 1rem;
      font-family: Roboto;
    }

    .property-only {
      background-color: #FEECB1;
      color: #B25B00;
    }

    .attribute-only {
      background-color: #FEECB1;
      color: #B25B00;
    }

    .read-only {
      background-color: $eds-gray-dark;
      color: $eds-font-color;
    }
  }
}