<div class="container">
  <div class="d-flex">
    <input type="text" class="nameInput flex-grow-1" [value]="list.name" (change)="changeName($event)">

    <div class="dropdown" #dropdownMenu>
      <button class="more" (click)="toggleDropdown()"><mat-icon>more_horiz</mat-icon></button>
      <div class="dropdown-menu" [@topDown]="true" *ngIf="dropdown">
        <a class="d-flex align-items-center text-danger" (click)="deleteList()"><mat-icon>delete</mat-icon> Delete List</a>
      </div>
    </div>
  </div>

  <div *ngFor="let task of tasks">
    <app-task [task]="task" [archive]="archive" (change)="getTasks()"></app-task>
  </div>

  <div *ngIf="archive && tasks.length === 0">
    <p class="text-center">No archived tasks</p>
  </div>
</div>

<button class="addBtn" *ngIf="!archive && !new" (click)="newTask()"><mat-icon>add</mat-icon> Add a task</button>

<div class="container" [hidden]="archive || !new">
  <mat-card>
    <form #taskForm="ngForm" novalidate>
      <input type="text" class="description" id="newTask" name="description" #description placeholder="Enter task description..." autocomplete="off" [(ngModel)]="task.description" (focusout)="checkVal($event)">
      {{ description.focus() }}

      <button class="btn btn-success mr-2 my-0" [disabled]="!description.value" (click)="submit(task)">Add</button>

      <button class="btn btn-secondary my-0" (click)="cancel()">Cancel</button>
    </form>
  </mat-card>
</div>