@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$experian-blue: #1d4f91;
$experian-blue-hover: #276bc4;
$experian-pink: #af1685;
$experian-pink-hover: #e31fad;
$experian-link: #426da9;
$experian-link-hover: #0056b3;
$success: #28a745;

html,
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#body-content {
  display: flex;
  height: calc(100% - 66px);
  overflow: hidden;
}

#route-content {
  flex-grow: 1;
  padding: 3rem 5rem 5rem;
}


/*~~ Typography ~~*/

.eds {
  h1 {
    &[caps] {
      flex-grow: 1;
      margin: 0;
    }
  }

  h4 {
    &[caps] {
      margin: 0;
      padding: 20px 20px 15px;
    }
  }
}

a:not([href]):not([tabindex]) {
  color: $experian-link;
  cursor: pointer;

  &:hover {
    color: $experian-link-hover;
    text-decoration: underline;
  }
}


/*~~ Inputs ~~*/

.edsTextbox {
  border: 1px solid #939393;
  border-radius: 4px;
  display: inline-flex;
  pointer-events: none;
  position: relative;
  width: 100%;

  input {
    background-color: white;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    color: #333333;
    display: block;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    outline: none;
    padding: 5px 10px;
    pointer-events: auto;
    -moz-transition: border-color 0.15s ease;
    -o-transition: border-color 0.15s ease;
    -webkit-transition: border-color 0.15s ease;
    transition: border-color 0.15s ease;
    width: 100%;
  }

  &::after {
    border: 2px solid $experian-link;
    border-radius: 4px;
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    opacity: 0;
    -moz-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    -webkit-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease;
  }

  &.focus,
  &:focus {
    &::after {
      opacity: 1;
    }
  }

  &.error {
    input {
      background-color: #fff5f7;
    }

    &::after {
      border-color: #e4002b;
      opacity: 1;
    }
  }
}

.edsInputMsg {
  font-size: 13px;
  display: none;
  padding: 5px 0 0;
  -moz-transition: height 0.15s ease;
  -o-transition: height 0.15s ease;
  -webkit-transition: height 0.15s ease;
  transition: height 0.15s ease;

  .error-text {
    color: #cd0026;
  }

  &.show {
    display: block;
  }
}


/*~~ Layout ~~*/

// Header
eds-primary-header {
  eds-textbox {
    &.searchbar {
      margin: 0 10px 0 0;

      .eds-textbox-prepend {
        background: none;
        border: none;

        eds-icon {
          color: $experian-blue;
          font-size: 18px;
          margin: 7px 0 0 10px;
        }
      }
    }
  }

  .user {
    border-left: 1px solid;

    .avatar {
      background-color: $experian-blue; 
      background-image: url(./assets/images/baseline-account_circle-24px.svg);
      background-size: 30px 30px;
      border: 1px solid #aaa;
      border-radius: 50%;
      display: inline-block;
      height: 32px;
      width: 32px;
    }

    .name {
      color: #333;
      margin: 0 10px;
    }

    eds-icon {
      color: $experian-blue;
    }
  }

  &[motif='dark'] {
    eds-textbox {
      &.searchbar {
        .eds-textbox-prepend {
          eds-icon {
            color: inherit;
          }
        }
      }
    }
    .user {
      .name,
      eds-icon {
        color: inherit;
      }
    }
  }
}

// Sidebar
#sidebar {
  height: 100%;
  max-width: 250px;
  width: 250px;

  button[eds-button] {
    margin: 15px 20px;
  }
}

// Content
.mainHeading {
  align-items: center;
  display: flex;
  margin: 0 0 2rem;
}


/*~~ Angular Material Components ~~*/

snack-bar-container {
  &.success {
    background: $success;
  }
}


/*~~ Fallbacks ~~*/

*:focus {
  box-shadow: none !important;
  outline: none !important;
}
